name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - main
permissions: read-all

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions: read-all
    strategy:
      fail-fast: true
      matrix:
        nodejs: ['10', '12']
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.nodejs }}
      - run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test
        run: npm run test:core
